body {
  background: #F1F5FA;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.button-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 12px;
  padding: 10px;
}

.button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.download {
  border: none;
  background: #ee3425;
  color: #fff;
}

.save {
  border: none;
  background: #000;
  color: #fff;
}

.delete {
  border: 2px solid #0F18D8;
  background-color: #fff;
  color: #0F18D8;

}

.sun-editor .se-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  /* background-color: #CBD5E1 !important; */
  border: 2px solid #CBD5E1 !important;
}

/* Hide the footer section */
.sun-editor .se-resizing-bar {
  display: none;
}

/* Make the textarea scrollable */
.sun-editor .se-wrapper .se-wrapper-inner {
  height: 450px; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ccc; /* Optional: Add a border for better visuals */

  &::-webkit-scrollbar {
    display: none !important;
  }
}

/* Remove negative margins from any div wrapping the table */
.sun-editor-editable > div {
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: block !important; /* Ensure it doesn't behave unexpectedly */
  width: 100% !important; /* Prevent layout shifts */
  overflow: auto !important; /* Prevent unwanted resizing */
}
